@import url('variables.css');
.detailTitle{
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
    margin-block: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
}
.productInformation{
    margin-bottom: 5vh;
    display: flex;
    width: 90%;
    margin-inline: auto;
}
.productInformation img{
    width: 100%;
    border: 1px solid var(--main-color);
}
.productPrice{
    font-size: 2rem;
}
.productInteraction{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemCount{
    display: flex;
    align-items: center;
    margin-block: 1rem;
}
.itemButton{
    all: unset;
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
}
.value{
    margin-inline: 0.5rem;
}
.addToCart{
    all: unset;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--main-color);
    border-radius: 5px;
}
.productDescription{
    opacity: .5;
    margin-block: 1rem;
}
/*tablet*/
@media (min-width: 520px){
    .productInformation img{
        width: 70%;
        margin: auto;
    }
    .productDescription{
        width: 70%;
        text-align: left;
    }
}
/*desktop*/
@media (min-width: 1280px){
    .container{
        flex-direction: row;
    }
    .productInformation{
        width: 50%;
    }
    .productInteraction{
        width: 50%;
        align-items: center;
    }
    .productInformation img{
        width: 80%;
    }
    .productDescription{
        width: 80%;
        text-align: center;
    }
    .itemButton{
        font-size: 1.5rem;
    }
    .value{
        font-size: 1.5rem;
    }
    .addToCart{
        font-size: 1.5rem;
    }
}