@import url('variables.css');
*{
    text-align: center;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    color: var(--white);
}
h1{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 3rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}
.productsPreview{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.productsPreview img{
    width: 30%;
    transition: 0.5s;
    margin: 1rem;
}
.productsPreview img:hover{
    filter: drop-shadow(0 0 10px var(--main-color));
    scale: 1.05;
    cursor: pointer;
}
/* Media query */
@media (min-width: 520px) {

}
@media (min-width: 620px) {
    .productsPreview img{
        width: 20%;
    }
}
@media (min-width: 1020px) {

}