@import url('variables.css');
*{
    text-align: center;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
}
h1{
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.banner {
    position: relative;
    width: 80%;
    height: 30vh;
    overflow: hidden;
    margin-inline: auto;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.banner img.active {
    opacity: 1;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}
.productsPreview{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productsPreview img{
    width: 20%;
    transition: 0.5s;
}
.productsPreview img:hover{
    filter: drop-shadow(0 0 10px var(--main-color));
    scale: 1.05;
    cursor: pointer;
}
/* Media query */
@media (min-width: 520px) {
    .banner{
        height: 40vh;
    }
}
@media (min-width: 720px) {
    .banner{
        height: 45vh;
    }
}
@media (min-width: 1020px) {
    .banner{
        height: 70vh;
    }
}