@import url('variables.css');
.mobileNavbar {
    display: flex;
    justify-content: flex-end;
    margin-block: 1rem;
}
.burgerIcon {
    all: unset;
    cursor: pointer;
}
.mobileMenuContainer {
    position: absolute;
    z-index: 2;
    display: none;
    right: 0;
    top:0;
    background-color: rgba(128, 0, 0, 0.5);
}
.mobileMenuContainer.open {
    display: block;
}
.mobileMenuContainer.closed {
    display: none;
}
.mobileMenu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    height: 100vh;
}
.mobileMenu a{
    text-align: end;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-block: 0.5rem;
}
.mobileMenu button{
    text-align: end;
    text-decoration: none;
    padding-left: 0.5rem;
}