.desktop{
    display: none;
}
/*media queries*/
/*tablet*/
@media (min-width: 520px){
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
}
/*desktop*/
@media (min-width: 1280px){
}